.text-input{
    padding: 5px;
}
.submit-btn{
    background-color: green;
    color: rgba(255, 180, 0,1);
    padding: 5px;
    border: 1px solid green;
}

p{
    /* border-style: dashed;
    border-width: 3px;
    border-color: blueviolet;
    border-radius: 10px; */
    /* border: solid 2px red; */
    /* border-width: 1px 20px 20px 3px; */
    /* border-top-width: 20px;
    border-bottom-width:1px; */
    /* border-radius: 10px;
    borde
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px; */
    /* margin: 20px 120px; */
    /* padding: 20px 5px; */
}



/* commenting   */

/* advance targeting 
variables 
box sizing 
padding maring 
size unit 
position
flex 
grid  */
.parent{
    background-color: lightgray;
    padding: 40px;
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
    /* flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline; */
    overflow-y: auto;

}
.card-parent{
    /* display: inline-block; */
    /* display: none; */
    background-color: white;
    text-align: center;
    padding: 20px 0px;
    /* border-radius: 10px; */
   
    
}
.card-parent:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 4;
}
.card-parent:nth-child(4){
    grid-row-start: 1;
    grid-column-start: 3;
}
.card-parent:nth-child(5){
    grid-row-start: 2;
    grid-column-start: 1;
}
.card-parent:nth-child(6){
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
}
.card-parent h4 {
    /* border: solid 1px blue; */
    margin-top: -10px;
}

nav {
     display: flex;
     justify-content: space-between;
     padding: 20px;
     background-color: lightblue;
}

